
html,body {width:100%;height:100%;margin:0;padding:0;border:0;background:#000;user-select:none;}

#info {
}

#debug {
  z-index:9;
  position:absolute; top:0; right:0;
  text-align:right;
  color:#FFF;
}

#controls {
  z-index:30; display:inline-block;
  position:absolute; top:0; left:0;
  height:50px;
}
  .control-item {
    z-index:32; float:left;
    width:50px; height:50px;
    transition:0.1s linear;
    opacity:0.4;
  }
  .control-item:hover {
    opacity:1;
  }
  #selectGameplay {
    width:60px;
    background:url('images/controls/sg_60x39.png') no-repeat center;
  }
  #selectBelt {
    background:url('images/controls/belt_1.png') no-repeat center/40px;
  }
  #selectBackpack {
    background:url('images/controls/backpack_1.png') no-repeat center/46px;
  }
  #selectMobiledevice {
    background:url('images/controls/mobiledevice_1.png') no-repeat center/46px;
  }
  #selectStore {
    background:url('images/controls/mercantile.png') no-repeat center;
  }
  #selectAction {
    width:36px; height:36px; margin:4px;
    border:3px solid #39F;
    border-radius:50%;
  }
  #selectSeed {
    width:32px; height:32px; margin:7px;
    border:2px solid #3A5;
    border-radius:50%;
  }
  #selectConstructable {
    width:32px; height:32px; margin:7px;
    border:2px solid #A72;
    border-radius:50%;
  }
  .control-selector-selected {
    opacity:1;
    box-shadow:1px 1px 3px 0 inset #FFF;
  }

.equipment {
  z-index:20;
  position:absolute; top:50px; left:50px;
  width:calc(100% - 100px); height:calc(100% - 100px);
}
#belt {
  background:rgba(75,30,10,0.5);
}
#backpack {
  background:rgba(20,150,90,0.5);
}
#mobiledevice {
  background:rgba(30,220,0,0.5);
}
  #md-clock {
  }
  #md-sleep {
  }
  #md-money {
  }
  #md-saveGame {
  }
  #md-loadGame {
  }
  #md-options {
  }
#store {
  background:rgba(100,0,0,0.5);
}
#actions {
  z-index:50;
  position:absolute; top:50px; left:235px;
  width:100px;
  background:rgba(100,100,100,0.5);
  text-align:center;
}
.action-mode {
  cursor:pointer;
}
.action-mode:hover {
  color:#00D;
}
#action-move: {}
#action-inspect {}
#action-plant {}
#action-harvest {}
#action-build {}
#action-repel {}
.action-selected {
  color:#F90;
}
#seeds {
  z-index:50;
  position:absolute; top:50px; left:300px;
  width:250px;
  background:rgba(255,255,255,0.5);
}
#constructables {
  z-index:50;
  position:absolute; top:50px; left:500px;
  width:250px;
  background:rgba(255,255,255,0.5);
}

#store {}
.store-seed {
  width:220px; height:70px; float:left;
  margin:8px; padding:8px;
  background-color:rgba(100,140,100,0.2);
  border:1px solid rgba(40,120,10,0.3);
  color:#BBB;
}
.store-seed:hover {
  background-color:rgba(60,60,60,0.6);
  border-color:rgba(50,160,20,0.6);
  color:#DFD;
}
.store-seed:hover .store-seed-image {
  border-color:#AFA;
}
  .store-seed-image {
    display:block; float:right;
    padding:2px;
    border:1px solid #777;
    border-radius:3px;
    box-shadow:1px 2px 4px 0 #000;
    background-color:rgba(0,0,0,0.2);
  }
  .store-seed-text {
    float:left;
  }
  .store-seed-purchase {
    float:left;
    width:140px;
    padding:3px;
    border:1px solid rgba(255,255,255,0.1);
  }
  .store-purchase-incrementer {
    width:30px; float:left;
  }
  .store-purchase-quantityIncrease {
    width:0; height:0;
    display:block;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #f00;
  }
  .store-purchase-quantityDecrease {
    width:0; height:0;
    display:block;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #f00;
  }
  .store-purchase-button {
    display:block; float:right;
    margin:1px; padding:1px 2px;
    background:rgba(0,0,0,0.4);
    border:1px solid rgba(0,0,0,0.6);
    color:#DDD;
    font-size:12px;
    cursor:pointer;
  }
  .store-purchase-button:hover {
    border-color:#FFF;
  }

#canvas {
  z-index:1;
  position:absolute; top:0; left:0;
  width:100%; height:100%;
}

.hide {
  display:none;
}

.dev_softpanel {
  z-index:1000;
  margin:4px;
  opacity:0.7;
  background:rgba(255,255,0,0.1);
}